body{
    margin: 0;
    padding:0;
    line-height: 0.5;
    background:linear-gradient(to left,#7808f0,#06bdf5);
    font-family: sans-serif;
}

.calci{
    width: 800px;
    padding-top: 100px;
    padding-bottom: 100;
    position: absolute;
    top:50%;
    left:70%;
    transition:0.25px;
    transform: translate(-50%,-50%);
    text-align: center;
}
#zero{

height: 55;
width: 116;
font-size: 20;
    font-family: sans-serif;
    font-weight: 300;

}

#display{
    
    border:none;
    background: rgb(241, 171, 210);
    border-radius: 30px;
    width: 345;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 400;
    height: 80;
    margin: auto;
    border:2px solid white(5, 218, 255, 0.726);
    color: rgb(247, 20, 31);



}
.button{
    width: 100;
    height: 75;
    padding-top: -1;
    font-size: 20;
    border: none;
    background: rgb(246, 189, 232);
    font-family: sans-serif;
    font-weight: 400;
    border:0;
    border-radius: 40px;
    margin: 1.5;
    transition:0.25px;
    
    
}

h1{
    margin-top: 100px;
    margin-left: 100px;
    font-family: sans-serif;

    font-size:50;
   
    text-decoration: underline;

color: rgb(23, 16, 16);
text-transform: uppercase;
font-weight: 700;}

h2{

    color: rgb(52, 232, 118);
    margin-top: -1px;
    font-family: sans-serif;
    margin-left: 138px;
}
.operator{
    width: 55;
    height: 55;
    padding-top: -1;
    font-size: 20;
    text-align: center;
    color: black;
    border: none;
    background: rgb(243, 190, 231);
    font-family: sans-serif;
    font-weight: 500;
    border:0;
    border-radius: 30px;
    margin: 1.5;
    transition:0.25px;
    cursor:pointer;
    
    
    
}


.operator:hover{
    background: #f108ab;
}
.button:hover{
    background: #f30798;
}
